extends layout

block content

    if blogPost
        h3= blogPost.posttitle
        p= blogPost.postbody

        a(href="/post") Back

    else if blogContact
        h3= blogContact.fname
        p= blogContact.comment

        a(href="/contact") Back
