doctype html
html
  head
    title= title

    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Bootstrap CSS
    link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC' crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')

  nav.navbar.navbar-expand-lg.navbar-dark.bg-success
    .container-fluid
      a.navbar-brand(href='#') 
        img.d-inline-block.align-text-top(src='../images/logo.jpg' alt='beach' width='30' height='24')
        Travel Travel Experts Inc
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.active(aria-current='page' href='/') Home
          li.nav-item
            a.nav-link(href='/contact/blog-contacts') Contact
          if currentUser
              li.nav-item
              a.nav-link(href='/contact/form') Fill contact form
          li.nav-item
            a.nav-link(href='/post') Posts
          if currentUser
            li.nav-item
            a.nav-link(href='/post/create') Create a Post

          li.nav-item.dropdown
            a#navbarDropdown.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Travel Packages
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Air BnB
              li
                a.dropdown-item(href='#') Hotels
              li
                hr.dropdown-divider
              li
                a.dropdown-item(href='#') Something else here
          li.nav-item
            a.nav-link.disabled(href='#' tabindex='-1' aria-disabled='true') Disabled
      form.d-flex
        input.form-control.me-2(type='search' placeholder='Search' aria-label='Search')
        button.btn.btn-outline-success(type='submit') Search
  body
    .container
      include nav.pug
    .container
      if currentUser
        span Welcome Back #{currentUser.username}  
        a(href="/log-out") Log Out
      else
        include login.pug
    

    .container
      if errors    
        each error in errors
            p.alert.alert-danger= error
      if message
        .content.my-3
          .alert.alert-success= message
    .content.my-3
      block content
      

  footer
    .bg-success.my-4
      h2 Copyright &copy; 2021
    // Optional JavaScript; choose one of the two!
    // Option 1: Bootstrap Bundle with Popper
    script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js' integrity='sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM' crossorigin='anonymous')
